* {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fcf5ed;
  color: #3f3f3f;
}

.word {
  display: flex;
  justify-content: space-around;
  padding: 60px 0px 60px 10px;
  font-size: 5rem;
  /* border: 2px solid #f5cca0; */
  border: 2px solid #fff5c2;

  border-radius: 15px;
  margin: 50px 120px 20px 120px;
  background-color: #f4dfb6;
  /* word-wrap: break-word; */
  word-break: break-all;

  /* overflow-wrap: break-word; */
}

.article-tiles-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.article-tile {
  padding: 30px 60px 30px 60px;
  font-size: 3rem;
  border-radius: 15px;
}
.article-tile:active {
  color: white;
}
.die {
  background-color: #ffdfdf;
  border: 2px solid #e7bcde;
}

.die:hover {
  background-color: #e7bcde;
  transition: 0.4s;
}
.der {
  background-color: #aedefc;
  border: 2px solid #6db9ef;
  margin-left: 70px;
}

.der:hover {
  background-color: #6db9ef;
  transition: 0.4s;
}

.das {
  background-color: #faeed1;
  border: 2px solid #ded0b6;
  margin-left: 70px;
}

.das:hover {
  background-color: #ded0b6;
  transition: 0.4s;
}

.result-tile {
  font-size: 3rem;
  margin-top: 50px;
}

.translation {
  margin-top: 20px;
  font-size: 2.5rem;
}

.next-button {
  font-size: 3rem;
  margin-top: 40px;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
  border: 1px solid #2d9596;
  background-color: #9ad0c2;
}

.next-button:hover {
  background-color: #2d9596;
  transition: 0.4s;
}
.next-button:active {
  color: white;
}

.end-message {
  font-size: 3rem;
  margin-top: 200px;
}

.refresh-link {
  margin: 0px 5px 0px 5px;
  color: #610c9f;
  text-decoration: underline;
}
@media (max-width: 775px) {
  .word {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px 10px 10px;
    font-size: 3rem;
    /* border: 1px solid black; */
    /* border-radius: 15px; */
    margin: 30px 10px 30px 10px;
    /* background-color: #f4dfb6; */
    word-break: break-all;

    /* overflow-wrap: break-word; */
    /* word-wrap: break-word; */
  }

  .article-tile {
    margin: 0px 15px 0px 15px;
    padding: 5px 10px 5px 10px;
    font-size: 2rem;
    /* border: 1px solid black;
    border-radius: 15px; */
  }

  .result-tile {
    font-size: 2rem;
    margin-top: 30px;
  }

  .translation {
    margin-top: 10px;
    font-size: 1.5rem;
  }

  .next-button {
    font-size: 2rem;
    margin-top: 20px;
    /* border-radius: 15px; */
    padding: 5px 10px 5px 10px;
    /* border: 1px solid #9ad0c2; */
    /* background-color: #ecf4d6; */
  }
}
